.header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background: #a1a1a1;
    margin-bottom: 15px;
}

header img {
    margin-left: 220px;
}

nav {
    display: flex;
    color: black;
    margin: 0 auto 0 100px;
}

nav p {
    padding-right: 100px;
}

#first-section, #second-section, #third-section {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#second-section img {
    margin-left: 15px;
    margin-right: 15px;
}

#third-section-text {
    font-family: arial;
    line-height: 1.2em;
    width: 30%;
    margin-left: 45px;
    justify-content: center;
}

h2 {
    font-size: 20px;
    line-height: 1.8em;
}

#third-section-text p {
    font-style: italic;
}

#third-section-button {
    margin-top: 10px;
    background: black;
    border-radius: 5px;
    color: white;
    padding: 8px 25px;
    transition: 0.35s;
}

#third-section-button:hover {
    background-color: #a1a1a1;
    color: white;
}

footer {
    background: #a1a1a1;
    height: 150px;
}