.header-grid {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-around;
    background: #a1a1a1;
    height: 100px;
}

nav {
    display: flex;
}

#first-section, #second-section, #third-section {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#second-section img {
    margin-left: 15px;
    margin-right: 15px;
}

#third-section {
    margin-left: 230px;
    
}

#third-section-text {
    font-family: arial;
    margin-right: 250px;
    margin-left: 30px;
    line-height: 1.2em;
}

h2 {
    font-size: 20px;
    line-height: 1.8em;
}

#third-section-text p {
    font-style: italic;
}

#third-section-button {
    margin-top: 10px;
    background: black;
    border-radius: 5px;
    color: white;
    padding: 8px 25px;
    transition: 0.35s;
}

#third-section-button:hover {
    background-color: #a1a1a1;
    color: white;
}

footer {
    background: #a1a1a1;
    height: 150px;
}